/* You can add global styles to this file, and also import other style files */
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
	height: 100vh;
	// overflow-y: scroll;
}