<div class="container">
	<div class="row">
		<h3>
			Phone Book
		</h3>
		<form action="">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control rounded-0" name="name" id="name" autocomplete="name">
			</div>
			<div class="form-group">
				<label for="name">Phone Number</label>
				<input type="number" class="form-control rounded-0" name="phone" id="phone">
			</div>
			<div class="form-group">
				<button type="button" name="" id="" class="btn btn-success  btn-block rounded-0">
					Save
				</button>
			</div>
		</form>
	</div>
</div>